<app-nav></app-nav>

<div class="container-fluid d-flex justify-content-center mt-4">
    <div class="row m-2">
        @for (kpi of kpis(); track $index) {
            <div class="col-12 col-sm-6 col-md-4 col-lg">
                <app-kpi-card
                    [titulo]="kpi.titulo"
                    [valor]="kpi.valor">
                </app-kpi-card>
            </div>
        }
    </div>
</div>

<main class="container-fluid">
    <app-dashboard
    [mostrarUsuariosInput]="mostrarUsuarios()"
    [mostrarProductosInput]="mostrarProductos()"
    (categoriaChange)="changeCategoria($event)"
    (mostrarUsuarios)="mostrarUsuariosEmit()"
    (mostrarProductos)="mostrarProductosEmit()"
    (crearProductoOutput)="abrirModalCrearProducto()">
    </app-dashboard>

    <app-modal
    [isOpen]="isOpen()"
    [titulo]="modalType === 'Crear Producto'
                ? 'CREAR PRODUCTO'
                : 'MODIFICAR PRODUCTO'">

    @if (modalType === 'Crear Producto') {
        <app-form-crear-producto
        (isOpen)="cerrarCrearProducto()"
        (submitEmit)="crearProducto($event)">
        </app-form-crear-producto>
    }

    @if (modalType === 'Modificar Producto' && productoSeleccionado()) {
        <app-form-modificar-producto
        [producto]="productoSeleccionado()"
        (isOpen)="cerrarModificarProducto()"
        (submitEmit)="modificarProducto($event)">
        </app-form-modificar-producto>
    }

    </app-modal>

    @if (mostrarUsuarios()) {
        <app-tabla-usuarios
        [datosUsuarios]="usuarios()">
        </app-tabla-usuarios>
    } 

    @if (mostrarProductos()) {
    <app-tabla-productos
        [datosProductos]="productos()"
        (abrirModalEditarProducto)="abrirModalEditarProducto($event)"
        (eliminarProducto)="eliminarProducto($event)"
        (borradoLogicoProducto)="borradoLogicoProducto($event)">
    </app-tabla-productos>
    }

</main>

    <div class="container-fluid d-flex justify-content-center mt-4">
        <div class="row m-2">
            @for (div of divisas(); track $index) {
                <div class="col-12 col-sm-6 col-md-4 col-lg">
                    <app-kpi-card
                        [titulo]="div.titulo"
                        [valor]="div.valor">
                    </app-kpi-card>
                </div>
            }
        </div>
    </div>

<hr>

<app-footer></app-footer>