<!-- FORMULARIO MODIFICAR PERFIL -->
<form class="carta-body-juego" [formGroup]="form" (ngSubmit)="submit()">
   
    <!-- NOMBRE -->
    <div class="mb-4 row">
        <div class="col-12">
            <label for="nombre" class="form-label letra-normal letra-normal-bold col-12">Nombre</label>
            <input type="text"  formControlName="nombre" class="input-transparente letra-normal w-100" placeholder="Nombre">
        </div>
    </div>

    <!-- APPAT -->
    <div class="mb-4 row">
        <div class="col-12">
            <label for="appat" class="form-label letra-normal letra-normal-bold">Apellido Paterno</label>
            <input type="text" formControlName="appat" class="input-transparente letra-normal w-100" placeholder="Apellido">
        </div>
    </div>

    <!-- APMAT -->
    <div class="mb-4 row">
        <div class="col-12">
            <label for="apmat" class="form-label letra-normal letra-normal-bold">Apellido Materno</label>
            <input type="text" formControlName="apmat" class="input-transparente letra-normal w-100 p-10" placeholder="Apellido">
        </div>

    </div>
    <!-- EMAIL -->
    <div class="mb-4 row">
        <div class="col-12">
            <label for="email" class="form-label letra-normal letra-normal-bold">Email</label>
            <input type="email" formControlName="email" class="input-transparente letra-normal w-100 m-1" placeholder="tuemail@correo.com">
        </div>
    </div>
    
    <!-- DIRECCION -->
    <div class="mb-4 row">
        <div class="mb-4 col-12">
            <label for="direccion" class="form-label letra-normal letra-normal-bold">Dirección</label>
            <input type="text" formControlName="direccion" class="input-transparente letra-normal w-100" placeholder="Dirección">
        </div>
    </div>

    <!-- Contraseña -->
    <div class="row mb-4">
        <div class="col-6">
            <label for="contrasena" class="form-label letra-normal letra-normal-bold">Contraseña</label>
            <input type="password" formControlName="contrasena" class="input-transparente letra-normal w-100" placeholder="••••••••">
        </div>
        <div class="col-6">
            <label for="r_contrasena" class="form-label letra-normal letra-normal-bold">Repetir</label>
            <input type="password" formControlName="r_contrasena" class="input-transparente letra-normal w-100" placeholder="••••••••">
        </div>

        <!-- MENSAJE ERROR -->
        @if (form.errors?.['passwordMismatch'] && form.get('r_contrasena')?.dirty) {
            <small class="letra-normal-pequeña w-100 text-danger">
                Las contraseñas no coinciden
            </small>
        }
    </div>

    <!-- BOTONES -->
    <div class="row-12 text-center mb-3">
        <button type="submit" class="btn-bd-primary letra-normal p-2 w-100 d-block text-center">
            Modificar
        </button>
    </div>
    
    <div class="row-12 text-center mb-3">
        <button class="btn-bd-primary letra-normal p-2 w-100 text-center d-block" type="button" (click)="cerrar()">
            Cerrar
        </button>
    </div>
</form>

