<div class="container mt-3">
    <div class="tabla-responsive">
        <table class="table tabla-admin align-middle">
            <thead>
                <tr class="color-letra-dinamico letra-normal letra-normal-bold">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Descuento</th>
                    <th>Precio Final</th>
                    <th>Jugadores</th>
                    <th>Duración</th>
                    <th>Stock</th>
                    <th>Dificultad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (producto of datosProductos(); track producto.id) {
                    <tr class="color-letra-dinamico letra-normal-pequeña">
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }} </td>
                        <td>{{ producto.descuento * 100}} %</td>
                        <td>{{ producto.precio - (producto.precio * producto.descuento) }}</td>
                        <td>{{ producto.cant_jugadores }}</td>
                        <td>{{ producto.duracion }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>{{ generarDificultad(producto.dificultad) }}</td>
                        <td class="text-center">

                            <button class="btn btn-sm btn-outline-primary me-2"
                                    (click)="editarProductoEmit(producto)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>

                            <button class="btn btn-sm btn-outline-danger me-2"
                                    (click)="eliminarProductoEmit(producto)">
                                <i class="fa-solid fa-trash"></i>
                            </button>

                            <button class="btn btn-sm btn-outline-success"
                                    (click)="verProductoEmit(producto)">
                                <i class="fa-solid fa-eye"></i>
                            </button>

                        </td>  
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>