<!-- FOOTER COMPLETO -->
<footer class="footer p-4">
    <div class="footer-contenido">
        <div class="footer-columna">
            <ul>
                <li class="letra-especial subtitulo" id="footer_contacto">Contacto</li>
                
                <li>
                    <a href="" class="letra-normal color-letra-dinamico">Correo</a>
                </li>
                <li>
                    <a href="" class="letra-normal color-letra-dinamico">Teléfono</a>
                </li>
                <li>
                    <a href="" class="letra-normal color-letra-dinamico">Dirección</a>
                </li>
            </ul>
        </div>
        <div class="footer-columna">
            <ul>
                <li class="letra-especial subtitulo">Redes</li>
                <li>
                    <a href="" class="letra-normal color-letra-dinamico">Facebook</a>
                </li>
                <li>
                    <a href="" class="letra-normal color-letra-dinamico">Instagram</a>
                </li>
                <li>
                    <a href="" class="letra-normal color-letra-dinamico">Twitter</a>
                </li>
            </ul>
        </div>
        <div class="footer-columna">
            <ul>
                <li class="letra-especial subtitulo">Comunidad</li> 
                <li>
                    <a href="#" class="letra-normal color-letra-dinamico">Grupo WhatsApp</a>
                </li>
                <li>
                    <a href="#" class="letra-normal color-letra-dinamico">Discord</a>
                </li>
                <li>
                    <a href="#" class="letra-normal color-letra-dinamico">Eventos</a>
                </li>
            </ul>                
        </div>
    </div>
    <div class="letra-especial subtitulo text-center copyright p-3">
        <h4>Copyright © 2026 Jumanji. Todos los derechos reservados.</h4>
    </div>
</footer>
 