<section>
  @if (carrito().length === 0) {
    <section class="border-2 subtitulo">
        <div class="row text-center agregaProductos">
            <div class="col-12 titulo-imagen">
                No tienes productos en el carrito
            </div>
        </div>
    </section>
  } @else {
<section class="container">
    <div class="carritoContainer">
        @for (item of carrito(); track item.id) {
            <div class="producto">
                <hr>
                <div class="row p-3 mb-4 rounded align-items-center contorno producto">

                    <div class="col-12 col-md-3 text-center mb-3 mb-md-0">
                    <img class="img-fluid rounded-3" [src]="'assets/img/' + item.imagen" [alt]="item.nombre">
                    </div>

                    <div class="col-10 col-md-9">

                    <div class="row mb-2">
                        <span class="col-6 letra-normal letra-normal-bold subtitulo">Nombre:</span>
                        <span class="col-6 letra-normal color-letra-dinamico">{{ item.nombre }}</span>
                    </div>

                    <div class="row mb-2 align-items-center">
                        <span class="col-6 letra-normal letra-normal-bold subtitulo">Cantidad:</span>
                        <div class="col-6 d-flex align-items-center gap-2">
                        <button class="btn btn-sm btn-success" (click)="aumentar(item.id)">▲</button>
                        <span class="letra-normal color-letra-dinamico">{{ item.cantidad }}</span>
                        <button class="btn btn-sm btn-danger" (click)="disminuir(item.id)">▼</button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <span class="col-6 letra-normal letra-normal-bold subtitulo">Precio Unitario:</span>
                        <span class="col-6 letra-normal color-letra-dinamico">${{ item.precio }}</span>
                    </div>

                    <div class="row mb-2">
                        <span class="col-6 letra-normal letra-normal-bold subtitulo">Precio:</span>
                        <span class="col-6 letra-normal color-letra-dinamico"><del>${{ item.precio * item.cantidad }}</del></span>
                    </div>

                    <div class="row mb-2">
                        <span class="col-6 letra-normal letra-normal-bold subtitulo">Descuento:</span>
                        <span class="col-6 letra-normal color-letra-dinamico">{{ item.descuento * 100 }}%</span>
                    </div>

                    <div class="row">
                        <span class="col-6 letra-normal letra-normal-bold subtitulo">Precio Final:</span>
                        <span class="col-6 letra-normal color-letra-dinamico">
                        ${{ ((item.precio - (item.precio * item.descuento)) * item.cantidad).toFixed(0) }}
                        </span>
                    </div>

                    </div>
                </div>
            </div>
            <hr>
        }
    </div>
</section>

    <section class="container">
        <hr>
        <h3 class="letra-normal letra-normal-bold subtitulo">Total: ${{ getTotal().toFixed(0) }}</h3>
        <hr>
        <div class="row carritoContainer">
        </div>  
        <button class="btn-bd-primary letra-normal p-2 w-100 text-center mb-5 color-letra-dinamico btnPagars" (click)="pagar()">
        Pagar
        </button>   
    </section>
  }
</section>