<section class="container mt-5">

    <div class="card-admin">


        <h2 class="letra-normal-bold color-letra-dinamico">
            Gestión Jumanji
        </h2>

        <div class="row mt-4">

            <div class="col-md-10">
                <input
                    type="email"
                    class="form-control input-transparente"
                    placeholder="Buscar usuario por email">
            </div>

            <div class="col-md-2">
                <button class="btn-bd-primary w-100">
                    Buscar
                </button>
            </div>

        </div>

        <hr>

        <div class="row m-3">

            <div class="col-md-6">
                <button class="btn-bd-primary w-100">
                    Crear Usuario
                </button>
            </div>

            <div class="col-md-6">
                @if(!mostrarUsuariosInput()){
                <button class="btn-bd-primary w-100" (click)="mostrarUsuariosEmit()">
                    Todos los Usuarios
                </button>
                } @else {
                <button class="btn-bd-primary w-100" (click)="mostrarUsuariosEmit()">
                    Ocultar Usuarios
                </button>
                }
            </div>

        </div>

        <div class="row m-3">

            <div class="col-md-6">
                <button class="btn-bd-primary w-100">
                    No se
                </button>
            </div>

            <div class="col-md-6">
                @if(!mostrarProductosInput()){
                <button class="btn-bd-primary w-100" (click)="mostrarProductosEmit()">
                    Mostrar Productos
                </button>
                } @else {
                <button class="btn-bd-primary w-100" (click)="mostrarProductosEmit()">
                    Cerrar Productos
                </button>
                }
            </div>

        </div>

        <hr>
        <select (change)="changeCategoria($event)" class="form-select btn-bd-primary m-3" aria-label="Default select example">
            <option class="input-transparente" value="">Todos</option>
            <option class="input-transparente" value="estrategia">Estrategia</option>
            <option class="input-transparente" value="cooperativos">Cooperativos</option>
            <option class="input-transparente" value="rol">Rol</option>
            <option class="input-transparente" value="casual">Casual</option>
        </select>   
    </div>
</section>