<section class="container mt-5">

    <div class="card-admin">


        <h2 class="letra-normal-bold color-letra-dinamico">
            Administración de Usuarios
        </h2>

        <div class="row mt-4">

            <div class="col-md-10">
                <input
                    type="email"
                    class="form-control input-transparente"
                    placeholder="Buscar usuario por email">
            </div>

            <div class="col-md-2">
                <button class="btn-bd-primary w-100">
                    Buscar
                </button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-6">
                <button class="btn-bd-primary w-100">
                    Crear Usuario
                </button>
            </div>

            <div class="col-md-6">
                <button class="btn-bd-primary w-100">
                    Todos los Usuarios
                </button>
            </div>

        </div>

    </div>
</section>